*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: url(./img.png) ;
    font-family: monospace , sans-serif;
    color:rgb(65, 7, 82) ;
}
.temperature{
    background: rgba(27, 27, 32, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 7px 10px rgba(0,0,0,0.5) ;
    width: 85%;
    max-width: 600px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 40px;
}
.temp{
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
}
input{
    width: 300px;
    font-family: monospace;
     float: right;
     padding: 5px;
     outline: none;
     background: rgba(27, 27, 32, 0.3);
     border-color: rgba(27, 27, 32, 0.6);
     color: black;
     font-size: 20px;
}
input::placeholder{
    color: darkgray;
}